<section class="top-page">
    <header class="header">
        <img src="{{ asset('img/logo.png') }}" alt="bucket-list logo"/>
        <nav class="nav">
            <li><a id = "nav" href="{{ path('home') }}">Home</a></li>
            <li><a id = "nav" href="{{ path('idea_list') }}">Ideas</a></li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li><a id = "nav" href="{{ path('idea_new') }}">Contribute</a></li>
            <li><a id = "nav" href="{{ path('app_logout') }}">Logout</a></li>
            {% else %}
            <li><a id = "nav" href="{{ path('app_login') }}">Login</a></li>
            <li><a id = "nav" href="{{ path('app_register') }}">Register</a></li>
            {% endif %}
            <li></li>
        </nav>
    </header>
    <div class="landing-page">
        <h1 class="big-title">World's famous bucket-list</h1>
        <a class="scroll-down" href="">Scroll<i class="fa fa-arrow-down" aria-hidden="true" ></i></a>
    </div>
</section>

